<div class="bank-remit-section">
        <div class="row">
            <div fxFlex="50%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Bank Account</mat-label>
                    <input matInput formControlName="bankAcc">
                    </mat-form-field>
                </div>
                <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>Bank Account 2</mat-label>
                      <input matInput formControlName="bankAcc2">
                      </mat-form-field>
                  </div>
            </div>
            <div fxFlex="50%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Bank Name</mat-label>
                    <input matInput formControlName="bankName">
                    </mat-form-field>
                </div>
                <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>Bank Name 2</mat-label>
                      <input matInput formControlName="bankName2">
                      </mat-form-field>
                  </div>
            </div>
        </div>
        <div class="row">
            <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Account Type</mat-label>
                    <input matInput formControlName="accType">
                    </mat-form-field>
                </div>
                <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>SSS Number</mat-label>
                      <input matInput formControlName="sssNo">
                      </mat-form-field>
                  </div>
            </div>
            <div fxFlex="25%">
                <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>Exemption</mat-label>
                      <mat-select formControlName="exemption">
                        <mat-option value="Option 1">Option 1</mat-option>
                        <mat-option value="Option 2">Option 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>TIN Number</mat-label>
                      <input matInput formControlName="tinNo">
                      </mat-form-field>
                  </div>
            </div>
            <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Group</mat-label>
                    <input matInput formControlName="group">
                    </mat-form-field>
                </div>
                <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>Pag-Ibig Number</mat-label>
                      <input matInput formControlName="pagibigNo">
                      </mat-form-field>
                  </div>
            </div>
            <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Pay Per No</mat-label>
                    <input matInput formControlName="payper">
                    </mat-form-field>
                </div>
                <div class="form">
                    <mat-form-field class="full-width">
                      <mat-label>Philhealth Number</mat-label>
                      <input matInput formControlName="philhealthNo">
                      </mat-form-field>
                  </div>
            </div>
        </div>
        <div class="row">
            <div fxFlex="20%">
                <mat-checkbox formControlName="forEvaluationCheckbox" class="checkbox"> <p>Payroll </p></mat-checkbox>  
            </div>
            <div fxFlex="20%">
                <mat-checkbox formControlName="forEvaluationCheckbox" class="checkbox"> <p>No Tax </p></mat-checkbox>  
            </div>
            <div fxFlex="20%">
                <mat-checkbox formControlName="forEvaluationCheckbox" class="checkbox"> <p>No SSS </p></mat-checkbox>  
            </div>
            <div fxFlex="20%">
                <mat-checkbox formControlName="forEvaluationCheckbox" class="checkbox"> <p>No Premium </p></mat-checkbox>  
            </div>
            <div fxFlex="20%">
                <mat-checkbox formControlName="forEvaluationCheckbox" class="checkbox"> <p>Exclude Smanped </p></mat-checkbox>  
            </div>
        </div>
    </div>