
<div class="add-employee">
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>Add New Account
      </button>
    </mat-dialog-actions>
  </div>

  
  
  <div class="table-container">
    <mat-form-field style="margin-right:40px; width: 500px;">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     
      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef> Employee Name </th>
        <td mat-cell *matCellDef="let details"> {{details.employeeName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="employeeNumber">
        <th mat-header-cell *matHeaderCellDef> Employee Number </th>
        <td mat-cell *matCellDef="let details"> {{details.employeeNumber}} </td>
      </ng-container>
    

      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let details"> {{details.userType}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let details"> {{details.department}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let details">
          <button class="btna" mat-icon-button color="basic" (click)="openEditForm(details)"><mat-icon>edit</mat-icon></button>
          <button class="btna" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>