<div mat-dialog-content>
  <div>
    <button mat-raised-button type="button" [mat-dialog-close]="false">
        <mat-icon>keyboard_backspace</mat-icon> Back
      </button>
</div>
  <form [formGroup]="employeeDetails" (ngSubmit)="onFormSubmit()">
    <mat-tab-group>
      <mat-tab label="Employment">
        <div class="ng-container">
          <div class="employment-section">
            <div class="row">
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Company</mat-label>
                    <input matInput formControlName="companyName">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Branch</mat-label>
                    <input matInput formControlName="branch">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Department</mat-label>
                    <input matInput formControlName="department">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Warehouse No</mat-label>
                    <input matInput formControlName="warehouseNo">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div fxFlex="35%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Employment Type</mat-label>
                    <mat-select formControlName="employmentType">
                      <mat-option value="Option 1">Option 1</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="35%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Employment Role</mat-label>
                    <mat-select formControlName="employmentRole">
                      <mat-option value="Merchandiser">Merchandiser</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="30%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Position</mat-label>
                    <input matInput formControlName="position">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div fxFlex="50%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Role Level</mat-label>
                    <input matInput formControlName="roleLevel">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="50%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Promo Id</mat-label>
                    <mat-select formControlName="promoId">
                      <mat-option value="Option 1">Option 1</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="employment-section">
            <div class="row">
              <div fxFlex="30%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="fName">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="30%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="mName">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="30%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lName">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="10%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>NE</mat-label>
                    <input matInput formControlName="ne">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div fxFlex="33%">
                <mat-form-field class="full-width">
                  <mat-label>Birth Date</mat-label>
                  <input matInput [matDatepicker]="birthDate" formControlName="birthDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="birthDate"></mat-datepicker-toggle>
                  <mat-datepicker #birthDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Separation Date</mat-label>
                  <input matInput [matDatepicker]="sepDate" formControlName="sepDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="sepDate"></mat-datepicker-toggle>
                  <mat-datepicker #sepDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field class="full-width">
                  <mat-label>Employment Date</mat-label>
                  <input matInput [matDatepicker]="empDate" formControlName="empDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="empDate"></mat-datepicker-toggle>
                  <mat-datepicker #empDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Sales Date</mat-label>
                  <input matInput [matDatepicker]="salesDate" formControlName="salesDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="salesDate"></mat-datepicker-toggle>
                  <mat-datepicker #salesDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex="33%">
                <mat-form-field class="full-width">
                  <mat-label>Designation Date</mat-label>
                  <input matInput [matDatepicker]="desigDate" formControlName="desigDate">
                  <mat-datepicker-toggle matSuffix [for]="desigDate"></mat-datepicker-toggle>
                  <mat-datepicker #desigDate></mat-datepicker>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <mat-label>Evaluation Date</mat-label>
                  <input matInput [matDatepicker]="evalDate" formControlName="evalDate">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="evalDate"></mat-datepicker-toggle>
                  <mat-datepicker #evalDate></mat-datepicker>
                </mat-form-field>
                <mat-checkbox formControlName="isEvaluation" class="checkbox">
                  <p>For Evaluation </p>
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="employment-section">
            <div class="employment-section">
              <div class="row">
                  <div fxFlex="50%">
                      <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Bank Account</mat-label>
                          <input matInput formControlName="bankAcc">
                          </mat-form-field>
                      </div>
                      <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>Bank Account 2</mat-label>
                            <input matInput formControlName="bankAcc2">
                            </mat-form-field>
                        </div>
                  </div>
                  <div fxFlex="50%">
                      <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Bank Name</mat-label>
                          <input matInput formControlName="bankName">
                          </mat-form-field>
                      </div>
                      <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>Bank Name 2</mat-label>
                            <input matInput formControlName="bankName2">
                            </mat-form-field>
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div fxFlex="25%">
                      <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Account Type</mat-label>
                          <input matInput formControlName="accType">
                          </mat-form-field>
                      </div>
                      <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>SSS Number</mat-label>
                            <input matInput formControlName="sssNo">
                            </mat-form-field>
                        </div>
                  </div>
                  <div fxFlex="25%">
                      <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>Exemption</mat-label>
                            <mat-select formControlName="exemption">
                              <mat-option value="Option 1">Option 1</mat-option>
                              <mat-option value="Option 2">Option 2</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>TIN Number</mat-label>
                            <input matInput formControlName="tinNo">
                            </mat-form-field>
                        </div>
                  </div>
                  <div fxFlex="25%">
                      <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Group</mat-label>
                          <input matInput formControlName="group">
                          </mat-form-field>
                      </div>
                      <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>Pag-Ibig Number</mat-label>
                            <input matInput formControlName="pagibiNo">
                            </mat-form-field>
                        </div>
                  </div>
                  <div fxFlex="25%">
                      <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Pay Per No</mat-label>
                          <input matInput formControlName="payper">
                          </mat-form-field>
                      </div>
                      <div class="form">
                          <mat-form-field class="full-width">
                            <mat-label>Philhealth Number</mat-label>
                            <input matInput formControlName="philhealth">
                            </mat-form-field>
                        </div>
                  </div>
              </div>
              <div class="row">
                  <div fxFlex="20%">
                      <mat-checkbox formControlName="isPayroll" class="checkbox"> <p>Payroll </p></mat-checkbox>  
                  </div>
                  <div fxFlex="20%">
                      <mat-checkbox formControlName="isNoTax" class="checkbox"> <p>No Tax </p></mat-checkbox>  
                  </div>
                  <div fxFlex="20%">
                      <mat-checkbox formControlName="isNoSSS" class="checkbox"> <p>No SSS </p></mat-checkbox>  
                  </div>
                  <div fxFlex="20%">
                      <mat-checkbox formControlName="isNoPremium" class="checkbox"> <p>No Premium </p></mat-checkbox>  
                  </div>
                  <div fxFlex="20%">
                      <mat-checkbox formControlName="isExcludeSmanped" class="checkbox"> <p>Exclude Smanped </p></mat-checkbox>  
                  </div>
              </div>
          </div>
              </div>
          <div class="employment-details-section">
            <div class="row">
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Employment Role</mat-label>
                    <mat-select formControlName="employeeStatus">
                      <mat-option value="Active">Active</mat-option>
                      <mat-option value="InActive">InActive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Off In</mat-label>
                    <input matInput formControlName="offIn">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>CC Number</mat-label>
                    <input matInput formControlName="ccNo">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>No of Days Per Year</mat-label>
                    <input type="number" matInput formControlName="noOfDays">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>User Level</mat-label>
                    <mat-select formControlName="userLevel">
                      <mat-option value="Option 1">Option 1</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Status Description</mat-label>
                    <input matInput formControlName="statusDesc">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Off Out</mat-label>
                    <input matInput formControlName="offOut">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Adjustment</mat-label>
                    <input matInput formControlName="adjustment">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Pay Type</mat-label>
                    <mat-select formControlName="payType">
                      <mat-option value="Option 1">Option 1</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Work Days</mat-label>
                    <input matInput formControlName="workDays">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Base Flag</mat-label>
                    <mat-select formControlName="baseFlag">
                      <mat-option value="Option 1">Option 1</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Region</mat-label>
                    <input matInput formControlName="region">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Schedule</mat-label>
                    <mat-select formControlName="schedule">
                      <mat-option value="Option 1">Option 1</mat-option>
                      <mat-option value="Option 2">Option 2</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="25%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Plate Number</mat-label>
                    <input matInput formControlName="plateNo">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Effective Date</mat-label>
                    <input matInput [matDatepicker]="effDate" formControlName="effDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="effDate"></mat-datepicker-toggle>
                    <mat-datepicker #effDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Check DGT</mat-label>
                    <input matInput formControlName="checkDGT">
                  </mat-form-field>
                </div>
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Rate</mat-label>
                    <input matInput formControlName="rate">
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>



        </div>

      </mat-tab>
      <mat-tab label="Personal Data">
        <section class="personal-info-section">
          <div fxLayout="row">
            <div fxFlex="50%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Place of Birth</mat-label>
                  <input matInput formControlName="pob">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Sex</mat-label>
                  <mat-select formControlName="sex">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Religion</mat-label>
                  <input matInput formControlName="religion">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Citizenship</mat-label>
                  <input matInput formControlName="citizenship">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Civil Status</mat-label>
                  <input matInput formControlName="civilStat">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Email Address</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
              </div>
            </div>
          </div>
        </section>
        <section class="personal-info-section">
          <div fxLayout="row">
            <div fxFlex="70%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>City Address</mat-label>
                  <input matInput formControlName="cityAddress">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Provincial Address</mat-label>
                  <input matInput formControlName="provAddress">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Mobile Number</mat-label>
                  <input type="tel" matInput placeholder="(+63)9XX-XXXX-XXX" formControlName="mobileNum">
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Telephone</mat-label>
                  <input type="tel" matInput placeholder="(02)XXXXXXXX" formControlName="telNum">
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex="50%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Spouse Name</mat-label>
                  <input matInput formControlName="spouseName">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Spouse Occupation</mat-label>
                  <input matInput formControlName="spouseOccupation">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="20%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Spouse Age</mat-label>
                  <input matInput formControlName="spouseAge">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="children-section">
            <div fxLayout="row">
              <div fxFlex="50%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Children</mat-label>
                    <input matInput formControlName="childName">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="50%">
                <div class="form">
                  <mat-form-field class="full-width">
                    <mat-label>Children Age</mat-label>
                    <input matInput formControlName="childAge">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <a>Add Another field</a>

          <div fxLayout="row">
            <div fxFlex="50%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Father Name</mat-label>
                  <input matInput formControlName="fatherName">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Mother Name</mat-label>
                  <input matInput formControlName="motherName">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Father Occupation</mat-label>
                  <input matInput formControlName="fatherOccupation">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Mother Occupation</mat-label>
                  <input matInput formControlName="motherOccupation">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="20%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Father Age</mat-label>
                  <input matInput formControlName="fatherAge">
                </mat-form-field>
              </div>
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Mother Age</mat-label>
                  <input matInput formControlName="motherAge">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="row">
                <div fxFlex="30%">
                    <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Sibling Name</mat-label>
                          <input matInput id="sibling">
                        </mat-form-field>
                      </div>
                </div>
                <div fxFlex="15%">
                    <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Sibling Age</mat-label>
                          <input matInput id="siblingAge">
                        </mat-form-field>
                      </div>
                </div>
                <div fxFlex="15%">
                    <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Civil Status</mat-label>
                          <input matInput id="siblingCivilStatus">
                        </mat-form-field>
                      </div>
                </div>
                <div fxFlex="20%">
                    <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Sibling Occupation</mat-label>
                          <input matInput id="siblingOccupation">
                        </mat-form-field>
                      </div>
                </div>
                <div fxFlex="20%">
                    <div class="form">
                        <mat-form-field class="full-width">
                          <mat-label>Company</mat-label>
                          <input matInput id="siblingCompany">
                        </mat-form-field>
                      </div>
                </div>
             </div> -->
          <div class="form">
            <mat-form-field class="form-full-width">
              <mat-label>Language and dialect spoken and/or writter (use "," for concatenation)</mat-label>
              <input matInput formControlName="language">
            </mat-form-field>
          </div>
          <div class="form">
            <mat-form-field class="form-full-width">
              <mat-label>Have you taken a recent physical examination? If so, when?</mat-label>
              <input matInput formControlName="medical">
            </mat-form-field>
          </div>
          <div class="row">
            <div fxFlex="30%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Purpose</mat-label>
                  <input matInput formControlName="medicalPurpose">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="30%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>Result</mat-label>
                  <input matInput formControlName="medicalResult">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="40%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>
                    Major Illness for the past 5 years</mat-label>
                  <input matInput formControlName="majorIllness">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row">
            <div fxFlex="50%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>
                    Emergency Person Name</mat-label>
                  <input matInput formControlName="emerPerson">
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="50%">
              <div class="form">
                <mat-form-field class="full-width">
                  <mat-label>
                    Emergency Person Name</mat-label>
                  <input matInput formControlName="emerPersonNumber">
                </mat-form-field>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button type="submit" color="primary">Edit</button>
  </form>
</div>